* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #202124;
}
.cabecalho {
  height: 7vh;
}
.corpo {
  height: 83vh;
}
.container0 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
}
.head {
  height: 40px;
  display: flex;
}
.head a {
  color: #fff;
}
.head,
.gmail,
.imagens,
.grid,
.logoicon {
  margin: 12px;
}
.flex {
  display: flex;
  align-items: center;
}
.border {
  width: 30px;
  height: 30px;
  border-radius: 80%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(https://img.quizur.com/f/img614f52299f5e56.42686942.jpg?lastEdited=1632588333);
}
.border:hover {
  width: 30px;
  height: 30px;
  border-radius: 80%;
  border: 1px solid #5c5c5c;
}
a {
  text-decoration: none;
}
.logo {
  display: inline-block;
  margin-left: 41.5vw;
  margin-top: 135px;
}
h1 {
  font-size: 125px;
  color: #29d806;
}
.inpute {
  margin-top: -3.3vw;
  margin-left: 37vw;
  margin-bottom: 25px;
}
input {
  position: relative;
  height: 44px;
  width: 582px;
  border-radius: 24px;
  border: 1px solid #5f6368;
}
.bxx {
  position: absolute;
  margin-left: 0.5vw;
  margin-top: -29px;
}
.bx1 {
  position: absolute;
  margin-left: 27vw;
  margin-top: -29px;
  cursor: pointer;
}
.bx2 {
  position: absolute;
  margin-left: 28.6vw;
  margin-top: -29px;
  width: 20px;
  cursor: pointer;
}
.bx3,
.bx4 {
  padding: 10px;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-left: 105px;
}
.button {
  background-color: #303134;
  width: 140px;
  height: 40px;
  min-width: 54px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  border: none;
}
.button:hover{
  width: 140px;
  height: 40px;
  border: 1px solid #5c5c5c;
}
.footer0 {
  position: relative;
  height: 10vh;
  background-color: #171717;
}
.footer1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer3 {
  margin-top: 46px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #9aa0a6;
}
.footer4 ul a {
  margin: 10px;
}
.footer4 ul a:hover {
  text-decoration: underline;
}
.footerend {
  margin-left: 990px;
  justify-content: flex-end;
  align-items: flex-end;
}
.footerend ul a {
  margin: 17px;
}
.footerend ul a:hover {
  text-decoration: underline;
}
p {
  position: absolute;
  margin-left: 50.5px;
  font-size: 17px;
  color: #9aa0a6;
}
ul a {
  color: #9aa0a6;
}
